*~
*.[ao]
*.tar.gz
.*.sw?

.deps
.dirstamp
.libs

/Makefile
/Makefile.in

aclocal.m4
autom4te.cache
config.cache
config.h
config.h.in
config.log
config.status
configure
compile
depcomp
install-sh
missing
stamp-h1

glog/src/glog/logging.h
glog/src/glog/raw_logging.h
glog/src/glog/stl_logging.h
glog/src/glog/vlog_is_on.h
glog/src/stamp-h2

/create_gcov
/create_llvm_prof
/dump_gcov
/profile_diff
/profile_merger
/profile_update
/sample_merger
