*~
*.[ao]
*.tar.gz

.deps
.dirstamp
.libs

/Makefile
/Makefile.in
aclocal.m4
autom4te.cache
config.cache
config.h
config.h.in
config.log
config.status
configure
compile
depcomp
install-sh
missing
stamp-h1

/create_gcov
/create_llvm_prof
/dump_gcov
/profile_diff
/profile_merger
/profile_update
/sample_merger
